.hidden {
  visibility: hidden;
  display: none !important; }

body {
  margin-top: 50px; }
  body nav.navbar {
    background: #fff;
    margin: 0 auto;
    padding: 12px 0;
    width: 100%;
    box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3); }
    body nav.navbar .custom-select,
    body nav.navbar #city,
    body nav.navbar #jobTitle {
      border: 1px solid #999;
      border-radius: 2px;
      box-shadow: none;
      color: #404040;
      font-size: 16px;
      margin-right: 16px;
      outline: none; }
    body nav.navbar #searchJob {
      background-color: #0CAA41;
      border: 0;
      border-radius: 2px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      outline: none;
      overflow: hidden; }
  body nav.sidebar {
    position: fixed;
    overflow-y: scroll;
    top: 64px;
    bottom: 0; }
    body nav.sidebar #results > li {
      background-color: #fbfbfb;
      border-top: 1px solid #c2c2c2;
      padding: 15px 0px; }
      body nav.sidebar #results > li img {
        line-height: 1em;
        display: block;
        border: 1px solid #c2c2c2;
        padding: 0;
        border: none;
        position: relative;
        display: inline-block;
        padding: 2px;
        background: white none;
        border: 1px solid #dedede;
        line-height: 0;
        vertical-align: baseline;
        float: right;
        max-width: 100px; }
      body nav.sidebar #results > li p,
      body nav.sidebar #results > li h6 {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0px !important; }
